.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.product:hover {
  opacity: 1;
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}
.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  position: relative;
  display: inline-block;
  margin: 20px;
  font-size: larger;
  width: 200px;
  height: 50px;
}
.product > button:hover {
  opacity: 1;
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.product__Rating {
  display: flex;
  font-size: large;
}
.NotifyCenter {
  display: flex;
  height: auto;
  width: auto;
  font-weight: bolder;
  font-style: normal;
}
.NotifyCenter > img {
  height: 90px;
  width: 100px;
  margin: 20px;
}
